#cover{
	width: 100%;
}
body,html{
	margin:0;
}
nav{
	min-height: 50px;
	background-image: linear-gradient(to right, #bbbde0, #e5aa91);;
}
nav a{
	float:right;
	display: block;
	line-height: 50px;
	padding:0px 10px;
	font-family: Helvetica;
	color: white;
}

nav a:hover{
	background-color: pink;
	cursor: pointer;
}
@media(max-width: 699px){
	#welcome::before{
		content:"Welcome!";
	}	
}
@media(min-width: 700px){
	#welcome::before{
		content:"Welcome to Manipal!";
	}	
}
#welcome::before{
	font-family: Roboto;
	font-size: 3em;
	font-weight: lighter; 
}
#body-div{
	text-align: center;
	margin: 10px 20px;
}
p{
	font-family: Helvetica;
	text-align: center;
}